.reveal-modal{
  position: relative !important;
}    

.modalTitle{
  font-weight:bold;
  text-transform:uppercase;
  font-family:'Lucida Grande','Lucida Sans Unicode',sans-serif;
}

.modalText{
    font-family:'Lucida Grande','Lucida Sans Unicode',sans-serif;
    font-size:14px;
    line-height:1.428571429;  
}
