<div style="margin: 50px">
	//SEARCH
	<p><button class="orangeButtonS" type="submit" >Search</button></p>
	
	//BACK TO SEARCH
	<p>	<button class="grayButtonM" type="submit" ><img class="buttonImg" src="images/back_arrow.png">Back to Search</button></p>
	
	//VIEW TEXTBOOKS
	<p>	<button class="grayButtonM" type="submit" ><img class="buttonImg" src="images/book.png">View Textbooks</button></p>

	//VIEW SCHEDULE
	<p>	<button class="grayButtonM" type="submit" ><img class="buttonImg" src="images/go_arrow.png">View Schedule</button></p>

	//ADD CLASS TO CART
	<p>	<button class="grayButtonL" type="submit" ><img class="buttonImg" src="images/cart.png">Add Class to Cart</button></p>

	//VIEW CLASS IN CART
	<p>	<button class="viewClassButton" type="submit" ><img class="buttonImg" src="images/noCart.png">View Class in Cart</button></p>

	//ENROLLED
	<p>	<button class="enrolledButton" type="submit" ><img class="buttonImg" src="images/enrolled.png">Enrolled</button></p>

	//WAITLIST
	<p>	<button class="waitlistButton" type="submit" ><img class="buttonImg" src="images/waitlist.png">Waitlist</button></p>

	//USE CLASS FOR SWAP
	<p>	<button class="grayButtonL" type="submit" ><img class="buttonImg" src="images/swap.png">Use Class for Swap</button></p>

	//DROP
	<p>	<button class="grayButtonS" type="submit" >Drop</button></p>

	//WITHDRAW
	<p>	<button class="baseButton standardButton buttonSmall" type="submit" >Withdraw</button></p>

	//DELETE
	<p>	<button class="grayButtonS" type="submit" >Delete</button></p>

	//GRADING
	<p>	<button class="grayButtonS" type="submit" >Grading</button></p>
	
	//SWAP
	<p>	<button class="grayButtonS" type="submit" >Swap</button></p>

	//SWAP OPTIONS
	<p>	<button class="grayButtonM" type="submit" >Swap Options</button></p>

	//VALIDATE
	<p>	<button class="grayButtonS" type="submit" >Validate</button></p>
	
	//VALIDATE CART
	<p>	<button class="grayButtonM" type="submit" >Validate Cart</button></p>
	
	//ENROLL
	<p>	<button class="grayButtonS" type="submit" >Enroll</button></p>
	
	//ENROLL CART
	<p>	<button class="grayButtonS" type="submit" >Enroll Cart</button></p>
	
	//CANCEL
	<p>	<button class="grayButtonS" type="submit" >Cancel</button></p>
	
	//CONFIRM
	<p>	<button class="baseButton standardButton buttonSmall" type="submit" >Confirm</button></p>
	
	//VIEW MENU	
	<p>	<button class="baseButton homeButtons menuButton" style="width:140px;" type="submit" >View Menu</button></p>

	//MENU ICON
	<p>	<button class="baseButton menuHover homeButtons" type="submit" >menu</button></p>
	
	//EXPLORE
	<p>	<button class="baseButton homeButtons buttonMedium exploreButton" type="submit">Explore</button></p>
	
</div>







	