.fc-event{
    box-shadow: 2px 2px 2px #706868;
}

.fc-agenda-axis, .fc-widget-header{
    background-color: #4c4c4c;
    color:white;
    font-weight: normal;
    padding: 3px;
    border: transparent;
    opacity:1;
}

.fc-axis{
	background-color: #4C4C4C;
	color: white;
}

.fc-agenda-divider-inner{
    border:none;
    height:0;
}    

.fc-widget-header .fc-agenda-divider-inner{
    background-color:#eee !important;
}

.fc-agenda-divider {
  padding:1px !important;
  background-color: #ccc;
 }

.fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td {
  border-top-style: none;
}

.fc-slats .fc-minor td {
  border-top-style: none;
}

tr.fc-first.fc-last {
    height: 35px;
}

.fc-view table{
	margin-bottom: 0;
}

.fc-event-inner{
  line-height: 1.3; text-align: center;
}

.fc-event-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size:12px;
  word-wrap:break-word;
}

.fc-tooltip-title{
  text-transform:uppercase;
  
}

.fc-event-description{
  font-size: 11px;
}

.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px black;
  background:#4c4c4c;
  text-align:center;
  
}